html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

.heads span {
    color: #ef4323;
}

.heads {
    font-weight: bold;
}

.btn-primary {
    background-color: #1946ba;
    border-color: #1946ba;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


/* header start */

header {
    background-image: url(../imgs/Bk1.webp);
    background-size: cover;
}

header a {
    color: #fff;
    transition: 300ms;
}

header a:hover,
header a:focus {
    color: #fff;
    text-decoration-line: none;
}

header .fa-phone {
    transform: rotateY(180deg);
}

header .btn-primary {
    border-radius: 7px;
}

@media (max-width: 982px) {
    .d-sm-block {
        display: block;
        margin: 10px;
    }
}

header .modal-dialog {
    margin: 20% auto;
}

header h1 {
    font-size: 60px;
}

header h2 {
    font-size: 40px;
}

header .qoute-btn:hover {
    background-color: #1946ba;
    border: 1px solid #1946ba;
    color: #fff;
}

header .form {
    background-color: #fff;
    padding: 40px 35px 20px;
    border-radius: 4px;
}

@media (max-width: 982px) {
    header .form {
        width: 90%;
        margin: 0px auto;
    }
}

header .form-group input {
    background: transparent;
    color: #fff;
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid #000;
    padding: 0px;
    border-radius: 0px;
}

header form .form-group img {
    top: 10px;
    right: 10px;
}

header form .lock {
    vertical-align: inherit;
}

header .btn:focus,
header .btn-outline-light:focus,
header .form-control:focus {
    box-shadow: 0 0 0 0;
}

header .modal-body h1 {
    color: #000;
}


/* header end */


/* L&W start */

.L-W {
    padding: 60px 0px;
}

.L-W .fa-long-arrow-alt-right {
    color: #1946ba;
}

@media (min-width: 982px) {
    .L-W .fly {
        background-color: #fff;
        padding: 20px 35px 45px;
        height: 90%;
        transform: translate(-50px, 17px);
        box-shadow: 0px 0px 8px 1px gainsboro;
    }
}

.L-W img {
    width: 100%;
    height: 100%;
}


/* L&W end */


/* services start */

.services {
    padding: 60px 0px;
}

.services i {
    color: #1946ba;
    font-size: 35px;
    background: #fff;
    box-shadow: 0px 0px 11px 3px gainsboro;
    border-radius: 50%;
    padding: 25px;
    transition: 500ms ease-in-out;
}

.services .ser-icon:hover i {
    color: #fff;
    background-color: #1946ba;
    box-shadow: 0px 0px 0px 0px;
}

.services .ser-icon p {
    transition: 300ms ease-in-out;
}

.services .ser-icon:hover p {
    font-weight: bold;
}


/* services end */


/* prefer TLM start*/

.preferTLM {
    padding: 60px 0px 40px;
    background-color: #f7f7f7;
}

.preferTLM .card {
    background-color: #1946ba;
    padding: 20px 10px;
    margin: 0px 40px;
}

.preferTLM .card h3 {
    line-height: 2.5rem;
}

.preferTLM .card .btn {
    font-weight: bold;
}

.preferTLM h2 {
    letter-spacing: 3px;
}

.preferTLM .owl-carousel p {
    color: #7e7e7e;
}

.preferTLM .owl-carousel button.owl-dot {
    width: 8px;
    height: 8px;
    margin: 4px;
    background-color: transparent;
    border: 1px solid #1946ba;
    border-radius: 50%;
}

.preferTLM .owl-carousel button.active,
.preferTLM .owl-carousel button.owl-dot:hover {
    background-color: #1946ba;
    border: 1px solid #1946ba;
}

.preferTLM .owl-one .owl-dots.disabled {
    display: block;
}


/* prefer TLM end */


/* Testimonials start */

.Testimonials {
    padding: 60px;
}

.Testimonials .owl-carousel .owl-item img {
    width: auto;
    margin: 0px auto;
}

.Testimonials .con {
    width: 60%;
    margin: 20px auto;
    position: relative;
    background-color: #1946ba;
    color: #fff;
    padding: 60px 40px 40px;
    border-radius: 4px;
}

@media (max-width: 982px) {
    .Testimonials .con {
        width: 100%;
    }
    .Testimonials .owl-carousel .owl-nav button.owl-next,
    .Testimonials .owl-carousel .owl-nav button.owl-prev {
        display: none;
    }
    .Testimonials {
        padding: 60px 20px;
    }
}

.Testimonials .fas {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
}

.Testimonials .last {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
    transform: rotatey(-180deg);
}

.Testimonials .owl-carousel .owl-nav button.owl-next,
.Testimonials .owl-carousel .owl-nav button.owl-prev {
    background: #1946ba;
    color: #fff;
    font-size: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 0px !important;
    width: 40px;
    top: 42%;
    left: 10%;
    position: absolute;
    transition: 0.5s;
}

.Testimonials .owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: 10%;
}

.Testimonials .owl-carousel .owl-nav button.owl-next:focus,
.Testimonials .owl-carousel .owl-nav button.owl-prev:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

.Testimonials .owl-carousel .owl-nav button.owl-next:hover,
.Testimonials .owl-carousel .owl-nav button.owl-prev:hover {
    background: #eee;
    color: #1946ba;
}


/* Testimonials end */


/* email obtain */

.email-obt {
    background-image: url(../imgs/Bk2.webp);
    padding: 60px;
}

@media (max-width: 982px) {
    .email-obt {
        padding: 60px 0px;
    }
}

.email-obt h2 {
    color: #fff;
}

.email-obt form {
    width: 70%;
    margin: 0px auto;
}

.email-obt input,
.email-obt input:focus {
    background: transparent;
    color: #fff;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0px;
    border-radius: 0px;
    width: 90%;
    box-shadow: 0 0 0 0rem;
}

.email-obt .btn {
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    padding: 5px 30px;
}

.email-obt .btn:hover {
    border: 1px solid #1946ba;
    background-color: #1946ba;
}

.email-obt ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff !important;
}

.email-obt ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff !important;
}

.email-obt :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff !important;
}

.email-obt :-moz-placeholder {
    /* Firefox 18- */
    color: #fff !important;
}


/* email obtain */


/* logos */

.logos {
    margin: 30px 0px 0px;
}

.logos img {
    padding: 20px;
    margin: auto;
}

.logos img:hover {
    border: 1px dotted var(--main-color);
}

.owl-two .owl-item img {
    width: auto;
}


/* /loggos */


/* footer start */

footer {
    padding: 60px 0px 0px;
    background-color: #1946ba;
    color: #fff;
}

@media (min-width: 982px) {
    footer .conc {
        padding: 0px 110px 0px;
    }
}

footer a {
    color: #fff;
}

footer .fab {
    padding-right: 7px;
}

@keyframes anmi {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

footer .fab:hover {
    color: #fff;
    transform: scale(1.1);
}

.fa-heart {
    color: rgb(200, 0, 0);
    animation: anmi 1s infinite ease-in-out;
}

footer .copyright {
    background-color: #0c3292;
}

@media (min-width: 982px) {
    footer .copyright {
        padding: 10px 110px;
    }
}


/* footer end */


/* ============================= */


/* floating icons start*/

.floating_icons {
    position: fixed;
    width: 70px;
    top: 40%;
    z-index: 100;
    bottom: auto;
    right: 0;
}

.floating_icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.floating_icons ul li {
    margin: 0 0 20px;
    display: block;
}

.floating_icons ul li a {
    display: block;
    width: 61px;
    height: 61px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
}

.floating_icons a.whstapp_float {
    color: #fff;
}

.floating_icons a.phone_float {
    color: #fff;
}

.my-float {
    margin-top: 16px;
}

@-webkit-keyframes ripple {
    70% {
        box-shadow: 0 0 0 70px rgba(244, 68, 56, 0);
    }
    to {
        box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
    }
}

@keyframes ripple {
    70% {
        box-shadow: 0 0 0 70px rgba(244, 68, 56, 0);
    }
    to {
        box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
    }
}


/**call-float-div**/

.call-close {
    right: -280px !important;
}

.info-call .phone-no {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    display: block;
    line-height: 22px;
}

.info-call {
    padding: 15px 20px 20px;
    background-color: #c5c5c5e3;
    color: #fff;
    width: 280px;
    border-radius: 0 0 0 6px;
}

.info-call input[type="text"] {
    margin: 0 0 15px;
    width: 100%;
}

.call-float-div {
    position: fixed;
    right: 0px;
    top: 200px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    z-index: 100;
}

.call-float-div .info-call .text-center .call-heading {
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin: 0 0 8px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.call-float-div .or-text-label::after {
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    top: 10px;
    content: "";
    width: 40%;
    height: 1px;
    right: 0px;
}

.call-float-div .or-text-label::before {
    left: 0px;
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    top: 10px;
    content: "";
    width: 40%;
    height: 1px;
}

.call-float-div .or-text-label {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin: 7px 0;
}


/**float btn**/

.btn-call-float {
    height: 34px;
    background: #c5c5c5e3;
    line-height: 34px;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    right: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    white-space: nowrap;
    top: 0;
    padding: 0 15px;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
    color: #fff !important;
}

.btn-call-float i {
    margin: 0 5px 0 0;
}

input::placeholder {
    color: #eee;
}

input::-webkit-input-placeholder {
    color: #eee;
}


/**text-field animation**/

.form-input-div .swing {
    display: inline-block;
    padding: 10px 0 10px 7px;
    font-weight: 400;
    border: 0;
    outline: 0;
    text-indent: 60px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
    width: 120px;
}

.form-input-div .swing::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
}

.form-input-div .swing+label {
    display: inline-block;
    position: absolute;
    top: -9px;
    font-size: 14px;
    color: #002539;
    left: 0;
    padding: 9px 12px;
    height: 42px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #d9d9d9;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-transform-origin: 2px 2px;
    transform-origin: 2px 2px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-animation: swing-back 0.4s 1 ease-in-out;
    animation: swing-back 0.4s 1 ease-in-out;
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    20% {
        -webkit-transform: rotate(116deg);
        transform: rotate(116deg);
    }
    40% {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    60% {
        -webkit-transform: rotate(98deg);
        transform: rotate(98deg);
    }
    80% {
        -webkit-transform: rotate(76deg);
        transform: rotate(76deg);
    }
    100% {
        -webkit-transform: rotate(82deg);
        transform: rotate(82deg);
    }
}

@keyframes swing {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    20% {
        -webkit-transform: rotate(116deg);
        transform: rotate(116deg);
    }
    40% {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    60% {
        -webkit-transform: rotate(98deg);
        transform: rotate(98deg);
    }
    80% {
        -webkit-transform: rotate(76deg);
        transform: rotate(76deg);
    }
    100% {
        -webkit-transform: rotate(82deg);
        transform: rotate(82deg);
    }
}

@-webkit-keyframes swing-back {
    0% {
        -webkit-transform: rotate(82deg);
        transform: rotate(82deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes swing-back {
    0% {
        -webkit-transform: rotate(82deg);
        transform: rotate(82deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

.swing:focus,
.swing:active {
    color: #002131;
    text-indent: 0;
    background: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.swing:focus::-webkit-input-placeholder,
.swing:active::-webkit-input-placeholder {
    color: #aaa;
}

.swing:focus+label,
.swing:active+label {
    -webkit-animation: swing 1.4s 1 ease-in-out;
    animation: swing 1.4s 1 ease-in-out;
    -webkit-transform: rotate(82deg);
    transform: rotate(82deg);
}

@media (min-width: 100px) and (max-width: 900px) {
    .call-back-popup {
        width: 90%;
    }
    .call-back-popup .callme-now,
    .call-back-popup .callme-later,
    .call-back-popup .leave_msg {
        padding: 25px 15px 20px;
    }
    .call-back-popup .callme-now h2 {
        font-size: 20px;
    }
    .call-float-div {
        top: 150px;
    }
}

.floating_icons {
    position: fixed;
    width: 70px;
    top: 40%;
    z-index: 100;
    bottom: auto;
    right: 0;
}

.floating_icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.floating_icons ul li {
    margin: 0 0 20px;
    display: block;
}

.floating_icons ul li:nth-child(1) a {
    background: #4caf50;
    font-size: 40px;
}

.floating_icons ul li:nth-child(2) a {
    background: #d9d9d9;
    font-size: 25px;
    padding: 11px 0 0;
    color: #002539;
}

.floating_icons ul li a {
    display: block;
    width: 61px;
    height: 61px;
    border-radius: 50px;
    text-align: center;
}

.floating_icons a.whstapp_float {
    color: #fff;
}

.floating_icons a.phone_float {
    color: #fff;
}

@keyframes wobble {
    0% {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        -ms-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        -ms-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        -ms-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        -ms-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        -ms-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    100% {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
}


/* floating icons end*/